.header {
  display: flex;
  background: #9c27b0;
  padding: 8px 16px;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 64px;
}

.main {
  max-width: 960px;
  padding: 0 20px;
  margin: 20px auto 0;
}

.page-title {
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 16px;
  text-align: center;
}

.loader {
  margin: 20vh auto;
  display: block;
}
